<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ebook" stopProcessing="true">
                    <match url="^resources/lead-generation-with-calculators/ebook/(.*)" />
                    <action type="Rewrite" url="resources/lead-generation-with-calculators/ebook/index.php" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
