<!DOCTYPE html>
<html lang="en">
<head>
  <base href="<%= APP_BASE %>">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= APP_TITLE %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="shortcut icon" href="favicon.ico">
  <link href="assests/css/bootstrap.min.css" rel="stylesheet">
  <link href="assests/css/extra.css" rel="stylesheet">
  <link href="assests/css/custom.css" rel="stylesheet">

  <!-- endinject -->
</head>
<body>

  <sd-app></sd-app>
  
  
  <!-- Start: Main -->
    <div id="main">
    	<!-- Start: Header -->
		<header id="header" class="full-header">
			<div class="container">
				<div class="col-md-12 np">
					<!-- Start: logo -->
					<div class="logo col-md-2 np">
						<a href="index.html" class="standard-logo"><img src="assests/images/logo.png" alt="Logo"></a>
					</div>
					<!-- End: logo -->
					<nav class="menu col-md-10 np">
						<div class="col-md-12 np">
							<div class="top-search col-md-10 np">
								<form action="search.html" method="get">
									<span class="icon"><i class="material-icons">search</i></span>
									<input type="text" name="" class="form-control" value="" placeholder="Search">
								</form>
							</div>
							<div class="login col-md-2 np">					
								<a href="" class="login-text" data-toggle="modal" data-target="#login">
									<span class="icon"><i class="material-icons">account_box</i></span> &nbsp;Login
								</a>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</header>
		<!-- End: Header -->

		<section class="section">
			<div class="container">
				<div class="main-tabs">
					<!-- Nav tabs -->
				  	<ul class="nav nav-tabs" role="tablist">
					    <li role="presentation" class="active">
					    	<a href="#costcalc" aria-controls="costcalc" role="tab" data-toggle="tab">Cost Calculator</a>
					    </li>
					    <li role="presentation">
					    	<a href="#recommendation" aria-controls="recommendation" role="tab" data-toggle="tab">Recommendation</a>
					    </li>
					    <li role="presentation">
					    	<a href="#quizzes" aria-controls="quizzes" role="tab" data-toggle="tab">Quizzes</a>
					    </li>
				  	</ul>

				  	<!-- Tab panes -->
				  	<div class="tab-content">
					    <div role="tabpanel" class="tab-pane active" id="costcalc">
					    	<div class="col-md-12 np text-center">
						    	<h1 class="text-grey">24,025 Website Templates and Themes From $2</h1>
						    	<p>One pager themes, wizards and more. Brought to you by the largest global community of calculator builder.</p>
						    	<button type="button" class="btn btn-blue">Popular</button>
						    	<button type="button" class="btn btn-blue">Recent</button>
					    	</div>
					    	<hr class="clearfix">
					    	<div class="featured-section">
					    		<div class="col-md-12 np">
					    			<div class="col-md-2 np featured-text-block">
					    				<h2>Featured</h2>
					    				<span>Hand picked by scaleup</span>
					    			</div>
					    			<div class="col-md-4 np">
					    				<a href="" class="icon-list active">
						    				<span class="icon">
						    					<i class="material-icons">photo_size_select_actual</i>
						    				</span>
						    				<span class="badge">3</span>
					    				</a>
					    				<a href="" class="icon-list">
						    				<span class="icon">
						    					<i class="material-icons">photo_size_select_large</i>
						    				</span>
					    				</a>
					    				<a href="" class="icon-list">
						    				<span class="icon">
						    					<i class="material-icons">photo_size_select_small</i>
						    				</span>
					    				</a>
					    				<a href="" class="icon-list">
						    				<span class="icon">
						    					<i class="material-icons">vignette</i>
						    				</span>
					    				</a>
					    			</div>
					    		</div>
					    		<div class="col-md-12 np featured-list">
					    			<div class="col-md-12 np">
					    				<div class="pic-wrapper">
						    				<div class="sidepan pic col-md-4 np">
												<img src="assests/images/temp1.png" class="moving" alt="climb">
												<img src="assests/images/temp1-base.jpg" class="base" alt="">
												<div class="mask">
													<a href="">icon1 </a>
													<a href="">icon2 </a>
												</div>
											</div>
										</div>
										<div class="pic-wrapper">
											<div class="vertpan pic col-md-4 np">
												<img src="assests/images/temp2.jpg" alt="" class="base">
											</div>
										</div>
										<div class="pic-wrapper">
											<div class="sidepan2 pic col-md-4">
												<img src="assests/images/temp3.png" class="moving" alt="climb">
												<img src="assests/images/temp3.jpg" class="base" alt="">
											</div>
										</div>
									</div>
									<div class="col-md-12 np">
										<div class="pic-wrapper">
											<div class="vertpan2 pic col-md-4 np">
												<img src="assests/images/temp4.jpg" alt="" class="base">
											</div>
										</div>
										<div class="pic-wrapper">
											<div class="sidepan pic col-md-4 np">
												<img src="assests/images/temp1.png" class="moving" alt="climb">
												<img src="assests/images/temp1-base.jpg" class="base" alt="">
												<div class="mask">
													<a href="">icon1 </a>
													<a href="">icon2 </a>
												</div>
											</div>
										</div>
										<div class="pic-wrapper">
											<div class="vertpan pic col-md-4 np">
												<img src="assests/images/temp2.jpg" alt="" class="base">
											</div>
										</div>
									</div>
					    		</div>
					    	</div>
					    </div>
					    <div role="tabpanel" class="tab-pane" id="recommendation">
						    <div class="col-md-12">
						    	<h1>Recommendation</h1>
						    	<p>
						    	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						    	</p>
						    	<p>
						    	Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
						    	</p>
						    	<p>
						    	Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
						    	</p>
						    </div>
					    </div>
					    <div role="tabpanel" class="tab-pane" id="quizzes">
					    	<div class="col-md-12">
						    	<h1>Quizzes</h1>
						    	<p>
						    	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						    	</p>
						    	<p>
						    	Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
						    	</p>
						    	<p>
						    	Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
						    	</p>
						    </div>
					    </div>
				  	</div>
			  	</div>

			</div>  
		</section>


		<!--  Start Footer -->
		<footer class="footer-main">
			<div class="container">
					<div class="footer-top">
						<div class="col-md-12 np">
							<div class="col-md-4">
								<img src="assests/images/logo-grey.png" alt="">
								<p>
									One pager themes, wizards and more.<br/>
									Brought to you by the largest global community of calculator builder.
								</p>
							</div>
							<div class="col-md-4">
								<img src="assests/images/logo-grey.png"  alt="">
								<p>
									One pager themes, wizards and more.<br/>
									Brought to you by the largest global community of calculator builder.
								</p>
							</div>
						</div>
						<div class="col-md-12 footer-social-icons">
							<a href="javascript:void(0);">
								<img src="assests/images/icon-fb.png" class="" alt="">
							</a>
							<a href="javascript:void(0);">
								<img src="assests/images/icon-in.png" class="" alt="">
							</a>
							<a href="javascript:void(0);">
								<img src="assests/images/icon-twitter.png" class="" alt="">
							</a>					
						</div>
					</div>
					<div class="footer-bottom">
						<div class="col-md-5 np">
							<a href="javascript:void(0);" class=""> Privacy Policy</a>
						   	<a href="javascript:void(0);" class="">&nbsp;| &nbsp;Terms of Use</a>
					   		<a href="javascript:void(0);" class="">&nbsp;| &nbsp;Help</a>
						</div>
						<div class="col-md-7 np">
							<p class="copyright">Made in NYC. All member work copyright of respective owner, otherwise © 2006-2016 Venture Pact.</p>
						</div>
					</div>
			</div>
		</footer>
		<!--  End Footer -->

	</div>
	<!-- End: Main -->

	<!-- Start: Modal Login -->
	<div id="login" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-sm-new">
			<!-- Modal content-->
			<div class="modal-content modal-bg">
				<div class="modal-header">			
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<i class="material-icons">close</i></button>
	       			 <h4 class="modal-title">Login</h4>
				</div>
				<div class="modal-body">	
					<form class="forms" id="login-form" action="" method="post" novalidate="">
						<div class="text-center">		
							<p class="font-italic text-grey">or login with</p>
							<span class="dis-block modal-social-icons">
								<a href="javascript:void(0);">
									<img src="assests/images/icon-fb.png" class="" alt="">
								</a>
								<a href="javascript:void(0);">
									<img src="assests/images/icon-in.png" class="" alt="">
								</a>
								<a href="javascript:void(0);">
									<img src="assests/images/icon-twitter.png" class="" alt="">
								</a>
							</span>
						</div>
						<div class="form-group">
							<div class="input-group">
								<span class="input-icon"><i class="material-icons">email</i></span>
								<input placeholder="Email Address" class="form-control input-field" required="required" name="LoginForm[username]" id="LoginForm_username" type="email">
							</div>
						</div>

						<div class="form-group">
							<div class="input-group">
								<span class="input-icon"><i class="material-icons">lock</i></span>
								<input placeholder="Password" class="form-control input-field" required="required" name="LoginForm[password]" id="LoginForm_password" type="password">
								<a class="forgot-password" href="javascript:void(0);" id="">Forgot?</a>
							</div>
						</div>
					
						<div class="text-center">
							<button type="submit" class="btn btn-blue btn-login btn-block" id="btn-login">Login</button>
						</div>
					</form>				
				</div>
				<!-- <div class="modal-footer modal-bg2">
					
				</div> -->
			</div>
		</div>
	</div>
	<!-- End: Modal Login -->

	<!-- BEGIN: PAGE SCRIPTS --> 
  <script type="text/javascript" src="assests/js/jquery.min.js"></script>

	<!-- Bootstrap script -->
  <script type="text/javascript" src="assests/js/bootstrap.min.js"></script>
  <script>
  // function.name (all IE)
  // Remove once https://github.com/angular/angular/issues/6501 is fixed.
  /*! @source http://stackoverflow.com/questions/6903762/function-name-not-supported-in-ie*/
  if (!Object.hasOwnProperty('name')) {
    Object.defineProperty(Function.prototype, 'name', {
      get: function() {
        var matches = this.toString().match(/^\s*function\s*((?![0-9])[a-zA-Z0-9_$]*)\s*\(/);
        var name = matches && matches.length > 1 ? matches[1] : "";
        // For better performance only parse once, and then cache the
        // result through a new accessor for repeated access.
        Object.defineProperty(this, 'name', {value: name});
        return name;
      }
    });
  }
  </script>

  <script>
  // Fixes undefined module function in SystemJS bundle
  function module() {}
  </script>

  <!-- shims:js -->
  <!-- endinject -->

  <% if (ENV === 'dev') { %>
  <script>
    System.config(<%=
      JSON.stringify(SYSTEM_CONFIG, null, 2)
    %>)
  </script>
  <% } %>

  <!-- libs:js -->
  <!-- endinject -->

  <!-- inject:js -->
  <!-- endinject -->

  <% if (ENV === 'dev') { %>
  <script>
  System.import('<%= BOOTSTRAP_MODULE %>')
    .catch(function (e) {
      console.error(e,
        'Report this error at https://github.com/mgechev/angular2-seed/issues');
    });
  </script>
  <% } %>

</body>
</html>
