<div class="course-mainbar lecture-content">
  <h2 id="lecture_heading" class="section-title" >
    <i class="fa fa-file-text"></i>
    &nbsp;
    Chapter 6
</h2>

  <!-- Attachment Blocks -->

  <div class="lecture-attachment">
    <div class="attachment-data"></div>
    
      <div class="attachment-data"></div>
<div class="lecture-text-container">
<p></p><p>Today, a majority of marketing and sales is about making a lot of noise and getting your voice heard. But when every company is screaming about its features, standing out is a challenge.
</p>
<p>Yes, you can have a blog, write ebooks (like this one) and even host webinars but let’s be honest - every marketer knows about these strategies. While better than regular advertising, content marketing has become evidently less effective than it was before. At the end of the day, how many eBooks can anyone read?
</p>
<p>So how do we do lead generation in this new noisy internet where people are used to personalization, need value, but have no time?
</p>
<p>This is where value-based marketing comes in. Tools like quizzes, calculators, graders, diagnostics, games etc. allow for better personalization, interactivity and require a considerably smaller time investment from the user.
</p>
<p>Calculators, especially, are great for lead generation as one of the top questions that customers usually have is how much does [X] cost, how much does [X] save me or what is the RoI on [X]? After a quick review of Google Trends, you’ll find  millions of searches that start with “how much will [X] cost/save me?”
</p>
<p>Hence, calculators are great for bringing in new traffic from search engines and also help better convert existing traffic. Not only that, due to the interactive nature, they are far more susceptible to being shared across social media and have a high viral quotient.
</p>
<p>For example, at VenturePact, we saw our monthly leads from our landing page increase by up to 4 times by just embedding a calculator called “How much to build an app?” that we developed in-house.
</p>
<p><img src="https://lh4.googleusercontent.com/W1nNzfE4zSuMS80w_MAIvcdhYbeY4Si3Hwz0RkJn8KHTGCmTQ2hS8nnKPvrFXz6X6Hee_MsYLfGuH4iDor95YpJOvsFju4cbypubEObNWqCPhFq_jXmxQUf5IEAWtyx6okojXjEx">
</p>
<p><br><br>
</p>
<ul>
  <li>Search Traffic: Increased by over 24% in the first 30 days</li>
  <li>Referral Traffic: Increased by 66%</li>
  <li>Conversion Rate: Increased by 36%</li>
</ul>
<p><br><br>
</p>
<p>There is a wide range of use cases from universities using calculators to let prospective students access student costs to insurance companies letting people estimate premiums, calculators can be used in multiple ways by a company to increase traffic and conversion rates.
</p>
<p><br>
</p><p></p>
</div>

    
  </div>

  <div class="lecture-attachment">
    <div class="attachment-data" data-content-type="null" data-cache-key="attachments/2106950-20160605093739084657000" data-url="null" data-host-id="null" data-kind="quiz" data-file-extension="null" data-name="null" data-host="null" data-position="2" data-is-published="true" data-downloadable="false" data-thumbnail-url="null" data-embeddable="false" data-schema="{&quot;type&quot;:&quot;object&quot;,&quot;required&quot;:[&quot;answer-1&quot;],&quot;properties&quot;:{&quot;answer-1&quot;:{&quot;enum&quot;:[&quot;erferf&quot;,&quot;rferfrefe&quot;,&quot;rfrefer&quot;],&quot;type&quot;:&quot;string&quot;,&quot;title&quot;:&quot;was this ione?&quot;,&quot;description&quot;:&quot;single&quot;}}}" data-id="2106950" data-graded="null"></div>
  </div>


<!-- Comments -->



<div id="empty_box"></div>
<!-- Scroll to current lecture link position in sidebar -->

</div>